@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stornie Wunderwaffe model shop!</h1>
    <p>Tutaj znadziesz model z niemieckich planów Wunderwaffe!</p>
    <img src="ratte.jpg" alt="Ratte" />
    <img src="ee.jpg" alt="ee"/>
</div>
